i3/.config/i3/config.local
X/.xrdb-themes/selected
fonts/.fonts/.uuid
emacs/.emacs.d/auto-save-list/*
emacs/.emacs.d/el-get/*
emacs/.emacs.d/elpa/*
emacs/.emacs.d/*.elc
emacs/.emacs.d/bookmarks
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/projectile.cache
emacs/.emacs.d/recentf
emacs/.emacs.d/.org-id-locations
emacs/.emacs.d/smex-items
