<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>local.helium.users.chris.org-auto-commit</string>
    <key>ProgramArguments</key>
    <array>
      <string>git</string>
      <string>-C</string>
      <string>/Users/chris/org</string>
      <string>commit</string>
      <string>-a</string>
      <string>-m</string>
      <string>auto commit</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
      <key>Hour</key>
      <integer>*/4</integer>
      <key>Minute</key>
      <integer>0</integer>
    </dict>
  </dict>
</plist>
