#!/bin/bash

xset -b
xsetroot -solid darkslategrey
xsetroot -cursor_name left_ptr

xresources="${HOME}/.Xresources"
if [[ -e "${xresources}" ]]
then
	xrdb -merge -cpp /usr/bin/cpp -I"${HOME}" "${xresources}"
fi

# local overrides
xprofile_local="${HOME}/.xprofile.local"
if [[ -e "${xprofile_local}" ]]
then
	source "${xprofile_local}" 
fi

# regenerate our i3 config
"${HOME}/.config/i3/bin/generate-config.sh"
