#include ".xrdb-themes/cperl.xrdb"

XTerm*font:            -xos4-terminus-medium-r-normal--12-*-*-*-*-*-*-*
XTerm.termName:        xterm-256color
XTerm.vt100.scrollBar: false
XTerm*on2Clicks:       regex [-_.[:alpha:][:digit:]]+
XTerm*on3Clicks:       regex [^ 	\n]+
XTerm*on4Clicks:       line
XTerm*fullscreen:      never
XTerm*color0:          Ansi_0_Color
XTerm*color1:          Ansi_1_Color
XTerm*color2:          Ansi_2_Color
XTerm*color3:          Ansi_3_Color
XTerm*color4:          Ansi_4_Color
XTerm*color5:          Ansi_5_Color
XTerm*color6:          Ansi_6_Color
XTerm*color7:          Ansi_7_Color
XTerm*color8:          Ansi_8_Color
XTerm*color9:          Ansi_9_Color
XTerm*color10:         Ansi_10_Color
XTerm*color11:         Ansi_11_Color
XTerm*color12:         Ansi_12_Color
XTerm*color13:         Ansi_13_Color
XTerm*color14:         Ansi_14_Color
XTerm*color15:         Ansi_15_Color
XTerm*colorBD:         Bold_Color
XTerm*colorIT:         Italic_Color
XTerm*colorUL:         Underline_Color
XTerm*foreground:      Foreground_Color
XTerm*background:      Background_Color
XTerm*cursorColor:     Cursor_Color

URxvt.font:                 -xos4-terminus-medium-r-normal--12-*-*-*-*-*-*-*, \
                            xft:monaco:pixelsize=10, \
                            xft:bitstream vera sans mono:pixelsize=10:antialias=true
URxvt.perl-lib:             /home/cperl/.urxvt-perl-lib/
URxvt.scrollBar:            false
URxvt.skipBuiltinGlyphs:    true
URxvt.cursorUnderline:      false
URxvt.perl-ext-common:      default,selection,confirm-paste,matcher,keyboard-select
URxvt.url-launcher:         /usr/bin/xdg-open
URxvt.Keysym.M-Escape:      keyboard-select:activate
URxvt.selection.pattern-0:  ([-_[:alpha:][:digit:]]+)
URxvt.selection.pattern-1:  ([-_[:alpha:][:digit:]./\:]+)
URxvt.selection.pattern-2:  ([^ \n]+)
URxvt.selection.pattern-3:  (^.*$)
URxvt*color0:               Ansi_0_Color
URxvt*color1:               Ansi_1_Color
URxvt*color2:               Ansi_2_Color
URxvt*color3:               Ansi_3_Color
URxvt*color4:               Ansi_4_Color
URxvt*color5:               Ansi_5_Color
URxvt*color6:               Ansi_6_Color
URxvt*color7:               Ansi_7_Color
URxvt*color8:               Ansi_8_Color
URxvt*color9:               Ansi_9_Color
URxvt*color10:              Ansi_10_Color
URxvt*color11:              Ansi_11_Color
URxvt*color12:              Ansi_12_Color
URxvt*color13:              Ansi_13_Color
URxvt*color14:              Ansi_14_Color
URxvt*color15:              Ansi_15_Color
URxvt*colorBD:              Bold_Color
URxvt*foreground:           Foreground_Color
URxvt*background:           Background_Color
URxvt*cursorColor:          Cursor_Color

! Escape sequences compatible with http://www.leonerd.org.uk/hacks/fixterms/
URxvt.keysym.C-i:             \033[105;5u
URxvt.keysym.C-I:             \033[73;5u
URxvt.keysym.C-m:             \033[109;5u
URxvt.keysym.C-M:             \033[77;5u

URxvt.keysym.S-Return:        \033[13;2u
!URxvt.keysym.M-Return:        \033[13;3u
URxvt.keysym.M-S-Return:      \033[13;4u
URxvt.keysym.C-Return:        \033[13;5u
URxvt.keysym.C-S-Return:      \033[13;6u
URxvt.keysym.C-M-Return:      \033[13;7u
URxvt.keysym.C-M-S-Return:    \033[13;8u

URxvt.keysym.S-Escape:        \033[27;2u
!URxvt.keysym.M-Escape:        \033[27;3u
URxvt.keysym.M-S-Escape:      \033[27;4u
URxvt.keysym.C-Escape:        \033[27;5u
URxvt.keysym.C-S-Escape:      \033[27;6u
URxvt.keysym.C-M-Escape:      \033[27;7u
URxvt.keysym.C-M-S-Escape:    \033[27;8u

URxvt.keysym.S-BackSpace:     \033[127;2u
!URxvt.keysym.M-BackSpace:     \033[127;3u
URxvt.keysym.M-S-BackSpace:   \033[127;4u
URxvt.keysym.C-BackSpace:     \033[127;5u
URxvt.keysym.C-S-BackSpace:   \033[127;6u
URxvt.keysym.C-M-BackSpace:   \033[127;6u
URxvt.keysym.C-M-S-BackSpace: \033[127;6u

URxvt.keysym.S-Up:            \033[1;2A
URxvt.keysym.M-Up:            \033[1;3A
URxvt.keysym.M-S-Up:          \033[1;4A
URxvt.keysym.C-Up:            \033[1;5A
URxvt.keysym.C-S-Up:          \033[1;6A
URxvt.keysym.C-M-Up:          \033[1;7A
URxvt.keysym.C-M-S-Up:        \033[1;8A

URxvt.keysym.S-Down:          \033[1;2B
URxvt.keysym.M-Down:          \033[1;3B
URxvt.keysym.M-S-Down:        \033[1;4B
URxvt.keysym.C-Down:          \033[1;5B
URxvt.keysym.C-S-Down:        \033[1;6B
URxvt.keysym.C-M-Down:        \033[1;7B
URxvt.keysym.C-M-S-Down:      \033[1;8B

URxvt.keysym.S-Left:          \033[1;2D
URxvt.keysym.M-Left:          \033[1;3D
URxvt.keysym.M-S-Left:        \033[1;4D
URxvt.keysym.C-Left:          \033[1;5D
URxvt.keysym.C-S-Left:        \033[1;6D
URxvt.keysym.C-M-Left:        \033[1;7D
URxvt.keysym.C-M-S-Left:      \033[1;8D

URxvt.keysym.S-Right:         \033[1;2C
URxvt.keysym.M-Right:         \033[1;3C
URxvt.keysym.M-S-Right:       \033[1;4C
URxvt.keysym.C-Right:         \033[1;5C
URxvt.keysym.C-S-Right:       \033[1;6C
URxvt.keysym.C-M-Right:       \033[1;7C
URxvt.keysym.C-M-S-Right:     \033[1;8C
